/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: wheat;
}

.imageAboutPage {
    width: 100%;
}

.dashed-hr {
    border: none;
    height: 5px;
    background: #000;
    background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}